@mixin flexCenter {
    display: flex;
    justify-content: center;

}

@mixin styleForResetButton {
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

@mixin styleForButtons {
    text-align: center;
    cursor: pointer;
    background: #d9d9d9;
    color: #555;
    transition: 0.3s;
}

body {
    background-image: url("./cork_board.jpg");
    @include flexCenter;
  }
  
  .main-card {
    margin-top: 15%;
    position: absolute;
    display: flex;
    width: 500px;
    height: 600px;
    background-color: rgb(249, 227, 102);
    flex-direction: column;
    .header {
      @include flexCenter;
    }
  }
  
  #new-task-form {
    @include flexCenter;
  }

  .addBtn {
    @include styleForButtons;
    width: 35px;
    height: 30px;
    font-size: 20px;
    &:hover {
      background-color: #bbb;
    }
  }
  
  #new-lines {
    @include flexCenter;
  }
  
  #items {
    margin-right: 180px;
  }
  
  li {
    display: flex;
    margin-left: 150px;
    align-items: center;
    width: 450px;
    height: 35px;
    font-size: 18px;
    transition: 0.3s;
    background-color: #d5d1d1b8;
    border: none;
    margin-bottom: 6px;
  }
  
  #task-line {
    width: 450px;
  }

  .completed {
    text-decoration: line-through;
  }

  #trash-icon {
  @include styleForButtons;
  margin-right: 10px;
  border-radius: 15px;
  font-size: 14px;
}
  
  .counter-text {
    position: absolute;
    bottom: 30px;
    left: 100px;
  }

  .bn632-hover {
    position: absolute;
    width: 80px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
    @include styleForResetButton;
    &:hover {
      @include styleForResetButton;
      background-position: 100% 0;
    }&:focus {
      outline: none;
    }
  }
  
  .bn632-hover.bn28 {
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }